* {
  margin: 0;
}

body {
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  padding: 20px;
}

input,
button,
textarea {
  font-family: inherit;
}

.button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
}

.form {
  width: 200px;
}

.hidden {
  display: none;
}
