* {
  margin: 0;
}

body {
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  padding: 20px;
  border-bottom: 10px solid green;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  padding: 20px;
  border-right: 10px solid green;
}

.right {
  padding: 20px;
}

.button {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
}
