<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/expost" method="post">
      <!-- input의 값을 받아올 떄 name이 key 역할!-->
      <input type="text" name="name" id="" />
      <input type="number" name="phone" id="" />
      <input type="date" name="date" id="" />
      <input type="submit" value="전송하기" />
    </form>
  </body>
</html>
